    .password-input-container{
        display: grid;
        grid-template-columns: 1fr auto;  
        gap:10px;
        align-items: center;

    }

    .password-input-container input{

        width: 100%;
        box-sizing: border-box;
    }


    .password-input{
        padding: 10px 20px;
        padding-left: 15px;
        border-radius: 5px;
        border-width:1px;
        font-size: 15px;
        justify-content: start;
    }

    .hide-button{
        margin-left: 5px;
    }